img{
    float: left;
    margin: 10px;
}
.number{
    transform: translate(-50%, -50%);
    animation: moveNumber 10s linear infinite;
}
.tri{
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.trangle{
    width:50% ;
height: 50%;
fill:#333;
}